.space {


    display:flex;
    height: 100vh;
    width:  100vw;
    align-items: center;
    justify-content: center;
    

}


.container {


    display: flex;
    height: 90vh;
    width: 82vw;
    




}

.layout {


    
    display:grid;
    border: 1px solid black;

    
}